BasedOnStyle: LLVM
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: Empty
Cpp11BracedListStyle: true
InsertBraces: true
AllowShortFunctionsOnASingleLine: Inline
IndentPPDirectives: AfterHash
PPIndentWidth: 2