/cmake-build-*
/build*
/bin
/include
/lib
/modulefiles
/etc
/.cproject
/.project
/Debug.dbg
/asymmetry
/data_label
/data_number
/data_type
/data_units
/errhi
/errlo
/error
/error_type
/method
/run_test.sh
/.idea/*.xml
/.DS_Store
/python
