/cmake-build-*
/build*
/bin
/include
/lib
/modulefiles
/etc
/.cproject
/.project
/Debug.dbg
/asymmetry
/data_label
/data_number
/data_type
/data_units
/errhi
/errlo
/error
/error_type
/method
/run_test.sh
/.idea
/.DS_Store
/python
extlib/portablexdr-4.9.1/Makefile.in
extlib/portablexdr-4.9.1/Makefile
extlib/portablexdr-4.9.1/aclocal.m4
extlib/portablexdr-4.9.1/config.h.in
extlib/portablexdr-4.9.1/configure
/python_installer
/java
/install-*
/.idea/uda.iml
