[build-system]
requires = ["setuptools>=42", "setuptools_scm>=8", "numpy>=1.7", "Cython>=0.29", "six"]
build-backend = "setuptools.build_meta"


[project]
name = "ukaea_pyuda_test"
# version = "2.7.5"
dynamic = ["version"]
readme = {file = 'README.md', content-type = "text/markdown"}
license = {text = "Apache-2.0 license"}
dependencies = ["numpy>=1.7", "six"]
requires-python = ">= 3.5"

[project.optional-dependencies]
plot = ["pyplot"]
full = ["pyplot", "rich"]

[tool.setuptools_scm]
