/test_plugin.cpp
/udaPlugins.conf
/udaPlugins_ANBCORRECTIONS.conf
/udaPlugins_DOI.conf
/udaPlugins_EFITMAGXML.conf
/udaPlugins_EQUIMAP.conf
/udaPlugins_GEOM.conf
/udaPlugins_HELP.conf
/udaPlugins_IMAS.conf
/udaPlugins_LIVEDISPLAY.conf
/udaPlugins_MAST_IMAS.conf
/udaPlugins_META.conf
/udaPlugins_NEWCDF4.conf
/udaPlugins_NEWHDF5.conf
/udaPlugins_OPENDATA.conf
/udaPlugins_PARAMSDB.conf
/udaPlugins_PROVENANCE.conf
/udaPlugins_TEMPLATEPLUGIN.conf
/udaPlugins_TESTPLUGIN.conf
/udaPlugins_TORE.conf
/udaPlugins_UDA.conf
/udaPlugins_VIEWPORT.conf
/udaPlugins_WEST.conf
/udaPlugins_XPADTREE.conf
/idam.xml
