name: Build

on:
  push:
    branches: [ "main", "develop", "feature/**", "releases/**" ]
  pull_request:
    branches: [ "main" ]

#env:
#  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        release: [Release]
        ssl: [ON, OFF]
        include:
          - client-only: ON
            ssl: OFF

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Install linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: >
          sudo apt-get update && sudo apt-get install -y
          git
          libboost-dev
          libssl-dev
          cmake
          build-essential
          pkg-config
          libxml2-dev
          libspdlog-dev
          ninja-build

      - name: Install macos dependencies
        if: matrix.os == 'macos-latest'
        run: >
          brew update && brew install
          git
          boost
          openssl
          cmake
          pkg-config
          libxml2
          spdlog
          ninja

      - name: Configure CMake (linux)
        if: matrix.os == 'ubuntu-latest'
        run: >
          cmake -G Ninja -B ${{github.workspace}}/build
          -DBUILD_SHARED_LIBS=ON
          -DCMAKE_BUILD_TYPE=${{ matrix.release }}
          -DSSLAUTHENTICATION=${{ matrix.ssl }}
          -DCLIENT_ONLY=${{ matrix.client-only }}

      - name: Configure CMake (macos)
        if: matrix.os == 'macos-latest'
        run: >
          cmake -G Ninja -B ${{github.workspace}}/build
          -DBUILD_SHARED_LIBS=ON
          -DCMAKE_BUILD_TYPE=${{ matrix.release }}
          -DSSLAUTHENTICATION=${{ matrix.ssl }}
          -DCLIENT_ONLY=${{ matrix.client-only }}
          -DOPENSSL_ROOT_DIR="$(brew --prefix openssl@1.1)"

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{ matrix.release }}

      - name: Install
        run: cmake --install ${{github.workspace}}/build --config ${{ matrix.release }}

#      - name: Test
#        working-directory: ${{github.workspace}}/build
#        # Execute tests defined by the CMake configuration.
#        # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
#        run: ctest -C ${{ matrix.release }}

